/* sectionWithLogo.module.css */
.section {
  display: flex;
  flex-flow: column;
  align-items: center;
  /* min-width: 500px; */
  width: 100%;
  margin-bottom: 10px;
  padding: 20px 0px;
  /* background-color: rgba(0, 0, 0, 0.1); */
}
.colored {
  background-color: rgba(251, 188, 89);
}
.container {
  /* max-width: 70%; */
  /* min-width: 500px; */
  padding: 10px 55px;
}

.imageContainerRight {
  float: right;
  transform: translateX(50px);
}
.imageContainerLeft {
  float: left;
  transform: translateX(-50px);
}
